@import "../variables/variables.scss";

// >>> Let them be active in case you want to use Tailwind in the current project <<<
// @tailwind base;
// @tailwind components;
// @tailwind utilities;

// >>> Let one of them be active in case you want to use Bootstrap in your project <<<
// @import "/node_modules/bootstrap/dist/css/bootstrap.min.css"; (everything)
// @import "/node_modules/bootstrap/dist/css/bootstrap-grid.min.css"; (grid only)
// @import "/node_modules//bootstrap/dist/css/bootstrap-reboot.min.css"; (reboot only)

// >>> Basic styles <<<
html {
  font-size: 10px;
}

*,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
