@import "./variables/fonts.scss";
@import "./variables/colors.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply text-2xl text-red-400;
}

*,
body {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
